
@{
    ViewData["Title"] = "Login";
}

<section class="p-5 ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-s-12 col-lg-5">
                <form action="Login" method="post" class="border border-dark rounded p-5">
                    <div class="mb-3">
                        <h3 class="text-center">Login</h3>
                    </div>
                    @if (ViewBag.ErrorMessage != null)
                    {
                        <div class="mb-3 alert alert-danger text-white">
                            @ViewBag.ErrorMessage
                        </div>
                    }
                    <div class="mb-3">
                        <label class="form-label " type="text">Username</label>
                        <input type="text" name="username" id="username" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label" type="text">Password</label>
                        <input type="password" name="password" id="password" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <a class="text-primary text-decoration-none" asp-controller="User" asp-action="Register">Register</a>
                    </div>
                    <div class="mb-3 text-center">
                        <button class="btn btn-primary text-center" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

