
@model ProjetSessionAppWeb3.Models.User

@{
    ViewData["Title"] = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="p-5 ">
    <div class="container">
        @if (ViewBag.userSession != null)
        {
            <div class="row justify-content-center mb-3">
                <h3 class="text-white">Bienvenue @ViewBag.userSession.Username</h3>
            </div>
        }
        <div class="row justify-content-center">
            <div class="col-md-8 col-s-12 col-lg-5">
                <form asp-controller="User" asp-action="Update" method="post" class="border border-dark rounded p-5">
                    <div class="mb-3">
                        <h3 class="text-center">Update User</h3>
                    </div>
                    @if (ViewBag.ErrorMessage != null)
                    {
                        <div class="mb-3 alert alert-danger text-white">
                            @ViewBag.ErrorMessage
                        </div>
                    }
                    <div class="mb-3">
                        <label class="form-label " type="text">Username:</label>
                        <input type="text" asp-for="Username" name="username" id="username" class="form-control" placeholder="@ViewBag.userSession.Username" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label" type="text">Email:</label>
                        <input type="text" asp-for="Email" name="email" id="email" class="form-control" placeholder="@ViewBag.userSession.Email" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label" type="text">Mot de passe</label>
                        <input type="password" asp-for="Password" name="password" id="password" class="form-control" />
                    </div>
                    <div class="mb-3 text-center">
                        <button class="btn btn-primary text-center" type="submit">Entrer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
