@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Bienvenue à notre chat intératif!</h1>
    <p>À l'aide de ASP.NET Core et de SignalR, Nous avons construit un application de chat.</p>
</div>
